.header__menu {
  display: none;
  
  background-color: transparent;
  outline: none;
  border: none;
}

.header__menu:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: block;
  }
}