.popup__input {
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline: none;
}